<%- include('index.ejs')%>
<form action="http://localhost:3000/user/add" method="post" style="margin-top: 10vh">
  <input type="text" name="name" id="" placeholder="name" />
  <br />
  <input type="text" name="description" id="" placeholder="description" />
  <br />
  <input type="text" name="mbti" id="" placeholder="mbti" />
  <br />
  <input type="text" name="enneagram" id="" placeholder="enneagram" />
  <br />
  <input type="text" name="variant" id="" placeholder="variant" />
  <br />
  <input type="text" name="tritype" id="" placeholder="tritype" />
  <br />
  <input type="text" name="socionics" id="" placeholder="socionics" />
  <br />
  <input type="text" name="sloan" id="" placeholder="sloan" />
  <br />
  <input type="text" name="psyche" id="" placeholder="psyche" />
  <br />
  <input
    type="submit"
    name=""
    id=""
    placeholder="Submit"
    onclick="submitForm()"
    value="Submit"
  />
</form>
<script>
  function submitForm(e) {
    e.preventDefault();
    var form = document.getElementById("userForm");
    var formData = new FormData(form);

    // You can now access the form data using formData.get("fieldName")
    // For example:
    var name = formData.get("name");
    var description = formData.get("description");
    var mbti = formData.get("mbti");
    console.log("Name:", name);
    console.log("Description:", description);
    console.log("MBTI:", mbti);
  }
</script>
