<%- include('index.ejs')%>
<form
  action="http://localhost:3000/user/add"
  method="post"
  style="margin-top: 10vh"
>
  <input type="text" name="name" id="" placeholder="name" />
  <br />
  <input type="text" name="description" id="" placeholder="description" />
  <br />
  <input type="text" name="mbti" id="" placeholder="mbti" />
  <br />
  <input type="text" name="enneagram" id="" placeholder="enneagram" />
  <br />
  <input type="text" name="variant" id="" placeholder="variant" />
  <br />
  <input type="number" name="tritype" id="" placeholder="tritype" />
  <br />
  <input type="text" name="socionics" id="" placeholder="socionics" />
  <br />
  <input type="text" name="sloan" id="" placeholder="sloan" />
  <br />
  <input type="text" name="psyche" id="" placeholder="psyche" />
  <br />
  <input
    type="submit"
    name=""
    id=""
    placeholder="Submit"
    onclick="submitForm()"
    value="Submit"
  />
</form>
<script>
  async function submitForm(e) {
    e.preventDefault();
    const form = document.getElementById("userForm");
    const formData = new FormData(form);
    const name = formData.get("name");
    const description = formData.get("description");
    const mbti = formData.get("mbti");
    const data = { name, description, mbti };
    fetch("http://localhost:3000/user/add", {
      method: "post",
      body: JSON.stringify(data),
    });
  }
</script>
