<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/scripts.ejs') %> <%- include('partials/styles.ejs') %>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
  </body>
</html>
